body {
    font-family: 'Source Sans Pro', sans-serif;

}

.container {
    padding-left: 16px;
    padding-right: 16px;
}

.autofill {
    cursor: pointer;
    background-color: rgb(219, 219, 219);
    padding: 5px;
    width: 13rem;
}

.autofill:hover {
    transition: .5s;
    background-color: rgb(170, 170, 170);
}

/* BYU dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 10;
}
.dropdown-btn {
    border: none;
    color: #002E5D;
    background-color: white;
    font-family: 'HCo Ringside Narrow SSm', Arial, sans-serif;
    font-size: 16px;
    height: 32px;
}
.dropdown-btn:hover {
    background-color: #e6e6e6;
}
.dropdown-child {
    display: none;
    min-width: 200px;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px #c5c5c5;
}
.dropdown-child a {
    color: #002e5d;
    font-size: 16px;
    padding: 12px;
    text-decoration: none;
    display: block;
}
.dropdown-child a:hover {
    background-color: #e6e6e6;
}
.dropdown:hover .dropdown-child {
    display: block;
    background-color: white;
}

.eventDetails:hover {
    background-color: rgb(236, 236, 236);
    transition: 1s;
    cursor: pointer;
}

/* modals */

.modal-subtitle {
    color: rgb(104, 104, 104);
}

/* Important part */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 70vh;
    overflow-y: auto;
}

/* cart styles */
.cart-label {
    color: rgb(182, 182, 182);
}

.cart_background {
    padding: 2rem;
    border: 1px solid lightgrey;
    background-color: white;
}

.btn-primary {
    color: #fff;
    background-color: #041548;
    border-color: #041548;
}

.btn-primary:hover {
    color: #fff;
    background-color: #040d29;
    border-color: #040d29;
}
