body {
    font-family: 'Source Sans Pro', sans-serif;

}

.container {
    padding-left: 16px;
    padding-right: 16px;
}

.autofill {
    cursor: pointer;
    background-color: rgb(219, 219, 219);
    padding: 5px;
    width: 13rem;
}

.autofill:hover {
    transition: .5s;
    background-color: rgb(170, 170, 170);
}

/* BYU dropdown */
.dropdown {
    position: relative;
    display: inline-block;
    z-index: 10;
}
.dropdown-btn {
    border: none;
    color: #002E5D;
    background-color: white;
    font-family: 'HCo Ringside Narrow SSm', Arial, sans-serif;
    font-size: 16px;
    height: 32px;
    padding: 15px;
    padding-bottom: 36px;
}
.dropdown-btn:hover {
    background-color: #ebebeb;
    transition: 0.2s;
}
.dropdown-child {
    display: none;
    min-width: 200px;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 8px #c5c5c5;
}

.dropdown-child a {
    color: #002e5d;
    font-size: 16px;
    padding: 12px;
    text-decoration: none;
    display: block;
}

.dropdown-child a:hover {
    background-color: #e6e6e6;
}
.dropdown:hover .dropdown-child {
    display: block;
    background-color: white;
}

.eventDetails:hover {
    background-color: rgb(236, 236, 236);
    transition: 1s;
    cursor: pointer;
}

.nav-dropdown {
    border: none;
    color: #002E5D;
    background-color: white;
    font-family: 'HCo Ringside Narrow SSm', Arial, sans-serif;
    font-size: 16px;
    height: 32px;
    padding-top: 15px;
    padding-bottom: 15px;
    /* padding-bottom: 36px; */
}

.nav-dropdown {

}

.nav-dropdown a {
    color: #002e5d;
    font-size: 16px;
    padding: 12px;
    text-decoration: none;
    /* display: block; */
}

.dropdown-item:hover {
    background-color: rgb(236, 236, 236);
    transition: .2s;
}

.dropdown-item:active {
    background-color: rgb(236, 236, 236);
}

/* modals */

.modal-subtitle {
    color: rgb(104, 104, 104);
}

/* Important part */
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 70vh;
    overflow-y: auto;
}

/* cart styles */
.cart-label {
    color: rgb(182, 182, 182);
}

.cart_background {
    padding: 2rem;
    border: 1px solid lightgrey;
    background-color: white;
}

.filter-box {
    padding-bottom: 0.75rem;
}

.user-card {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.index-card {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}

.organization_card {
    cursor: pointer;

}

.organization_card:hover {
    background: rgb(228, 228, 228);
    transition: 1.5s;
}

.organization_title {
    color: #435475;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: #7c90b8 solid 1px;
    border-bottom: #7c90b8 solid 1px;
    margin-top: 2.5rem;
    margin-bottom: 1.5rem;
}

.event_title {
    color: #435475;
    padding-top: 5px;
    padding-bottom: 15px;
    border-bottom: #e4e4e4 solid 1px;
    margin-bottom: 1rem;
}

.add-icon {
    font-size: 30px;
    color: #7c8dad;
    cursor: pointer;
}
